{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>



<div class="row">
    <div class="col-md-4">
        <h2>Отзывы о музее.</h2>
        <p><a class="btn btn-default" href="https://malaya-vishera.xtool.ru/kraevedcheskiy-muzey/">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Местоположение.</h2>
        <p><a class="btn btn-default" href="https://yandex.ru/maps/org/krayevedcheskiy_muzey/1087961294/?ll=32.223225%2C58.844263&z=17">Узнать больше &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Группа в ВК</h2>
        <p><a class="btn btn-default" href="https://vk.com/mvmyzei17">Узнать больше &raquo;</a></p>
    </div>
</div>

{% endblock %}
